<%# Content heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message block %>
<%- messages() %>

<%# Error block %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# update body %>
<div id="informationPanel">
    <section class="colorBox">
        <h3>Change information</h3>
        <form action="/account/edit/" method="post">
          <label for="account_firstname">First name:</label><br>
          <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>"><br>
          <label for="account_lastname">Last name:</label><br>
          <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>"><br>
          <label for="account_email">Email address:</label><br>
          <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>"><br>
          <input type="submit" value="Update Info">
          <input type="hidden" name="account_id"
          <% if(locals.account_id) { %> value=<%- locals.account_id %>
          <% } %>>
        </form>
    </section>
    <p class="colorBox">You can change your basic information at any time, at no cost!</p>
    <section class="colorBox">
        <h3>Change Password</h3>
        <form action="/account/editPass/" method="post">
            <label for="account_password">Password:</label><br>
            <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
            <input type="submit" value="Change password">
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> value=<%- locals.account_id %>
            <% } %>>
            <input type="hidden" name="account_firstname"
            <% if(locals.account_firstname) { %> value=<%- locals.account_firstname %>
            <% } %>>
        </form>
    </section>
    <p class="colorBox">Password must be at least 12 characters and consist of at least one capital letter, number, and special character</p>
</div>